.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 800px) {
  .columns > div {
    flex-direction: row;
    gap: 40px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > .columns-img-col {
    flex: 1.33;
  }
  
  .columns > div > div > :first-child {
    margin-top: 0;
  }
}

/* variants */
/* stylelint-disable-next-line no-descending-specificity */
.columns.contain img {
  height: unset;
  object-fit: unset;
}

.columns.dark {
  background-color: var(--color-purple);
  color: var(--background-color);
}

.columns.light {
  background-color: var(--color-gray-lighter);
}

.columns.dark h2 {
  color: var(--color-blue-light);
}

.columns.dark > div,
.columns.light > div {
  gap: 0;
}

.columns.dark > div > div:not([class]),
.columns.light > div > div:not([class]) {
  padding: 25px;
}

@media (min-width: 800px) {
  .columns.contain > div > .columns-img-col {
    flex: 1;
  }

  .columns.dark > div > div:not([class]),
  .columns.light > div > div:not([class]),
  .columns.dark.contain > div > .columns-img-col,
  .columns.light.contain > div > .columns-img-col {
    padding: 45px 55px;
  }
}
