/* stylelint-disable no-descending-specificity */

/* header and nav layout */
header .header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  background-image: linear-gradient(var(--color-purple) 70px, var(--background-color) 70px);
}

header nav {
  display: grid;
  grid-template:
    'brand hamburger' var(--nav-height)
    'tools tools' 1fr
    'links links' 1fr
    'sections sections' 1fr / 1fr 30px;
  align-items: center;
  width: 100%;
  max-width: calc(1200px + 20px);
  margin: auto;
  padding: 0 20px;
  background-color: var(--color-purple);
  background-image: linear-gradient(var(--color-purple) 70px, var(--background-color) 70px);
  font-family: var(--body-font-family);
}

header nav[aria-expanded=true] {
  grid-template:
    'brand hamburger' var(--nav-height)
    'tools tools' auto
    'list list' auto
    'sections sections' 1fr / 1fr 30px;
  overflow-y: auto;
  max-height: 100vh;
  border-bottom: 1px solid var(--color-gray-light);
}

@media (min-width: 600px) {
  header nav[aria-expanded=true] {
    grid-template:
      'brand hamburger' var(--nav-height)
      'tools list' auto
      'sections sections' 1fr / auto 1fr;
  }
}

@media (min-width: 1000px) {
  header nav[aria-expanded=true] {
    grid-template:
      'brand list list' 70px
      'sections sections tools' 60px / 1fr 1fr auto;
    border-bottom: 0;
    overflow-y: unset;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

header nav a:not(.button):hover,
header nav a:not(.button):focus {
  background-size: 0;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .nav-hamburger button {
  height: 26px;
  background-color: transparent;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 30px;
  border-radius: 1px;
  background-color: var(--background-color);
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
}

header nav[aria-expanded=false] .nav-hamburger-icon,
header nav[aria-expanded=false] .nav-hamburger-icon::before,
header nav[aria-expanded=false] .nav-hamburger-icon::after {
  height: 4px;
}

header nav[aria-expanded=false] .nav-hamburger-icon::before {
  top: -8px;
}

header nav[aria-expanded=false] .nav-hamburger-icon::after {
  top: 8px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::before,
header nav[aria-expanded=true] .nav-hamburger-icon::after {
  transform: rotate(28deg);
  height: 4px;
  border-radius: 1px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::after {
  transform: rotate(-28deg);
}

@media (min-width: 1000px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  line-height: 1;
}

header nav .nav-brand img {
  width: 165px;
  height: 30px;
  object-fit: cover;
  object-position: left;
}

@media (min-width: 600px) {
  header nav .nav-brand img {
    width: auto;
    height: 30px;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  display: none;
  visibility: hidden;
  background-color: var(--background-color);
}

header nav[aria-expanded=true] .nav-sections {
  display: block;
  visibility: visible;
}

header nav .nav-sections .nav-drop {
  position: relative;
  padding-right: 0;
  cursor: pointer;
}

header nav .nav-sections .nav-drop[aria-expanded=true] {
  padding-bottom: 0;
  color: var(--color-purple);
}

header nav .nav-sections .nav-drop-expanded {
  padding-bottom: 0;
  justify-self: stretch;
}

header nav .nav-sections .nav-drop-mobile {
  margin: 0 -20px;
  padding: 17px 20px;
  background-color: var(--color-blue-lighter);
}

header nav .nav-sections .nav-drop-desktop {
  display: none;
  visibility: hidden;
  border-right: 20px solid var(--color-blue-dark);
  padding: 25px 35px;
  background-color: var(--color-blue-light);
}

header nav .nav-sections .nav-drop-desktop p {
  font-family: var(--heading-font-family);
  line-height: 1.5em;
}

header nav .nav-sections .nav-drop-desktop .button {
  text-transform: uppercase;
  color: var(--background-color);
}

header nav .nav-sections .nav-drop > ul > li:not(:last-of-type),
header nav .nav-sections .nav-drop > ul div > li:not(:last-of-type) {
  border-bottom: 1px solid var(--color-blue-light);
}

header nav .nav-sections .nav-drop::before,
header nav .nav-sections .nav-drop::after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: var(--color-purple);
}

header nav .nav-sections .nav-drop::before {
  top: calc(18px + 4px);
  right: 0;
  width: 10px;
  height: 2px;
}

header nav .nav-sections .nav-drop::after {
  top: 18px;
  right: 4px;
  width: 2px;
  height: 10px;
}

header nav .nav-sections .nav-drop[aria-expanded=true]::after {
  display: none;
  visibility: hidden;
}

header nav .nav-sections ul  {
  list-style: none;
  margin: 0;
  padding-left: 0;
  line-height: 1;
  letter-spacing: .02em;
}

header nav .nav-sections ul > li {
  padding: 15px 0;
  color: initial;
}

header nav .nav-sections > ul > li:first-of-type {
  border-top: 1px solid var(--text-color);
}

header nav .nav-sections > ul > li:not(:last-of-type) {
  border-bottom: 1px solid var(--color-gray-light);
}

header nav .nav-sections > ul > li > ul {
  display: none;
  visibility: hidden;
}

header nav .nav-sections > ul > li[aria-expanded=true] > ul {
  display: block;
  visibility: visible;
}

header nav .nav-sections .nav-drop > ul div li {
  color: initial;
  padding: 15px 0;
}

@media (min-width: 1000px) {
  header nav .nav-sections .nav-drop {
    padding-right: 15px;
  }

  header nav .nav-sections .nav-drop-expanded {
    display: flex;
  }

  header nav .nav-sections .nav-drop-mobile {
    display: none;
    visibility: hidden;
  }
  
  header nav .nav-sections .nav-drop-desktop {
    display: block;
    visibility: visible;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: min(2%, 34px);
    margin-right: min(2%, 34px);
  }

  header nav .nav-sections > ul > li {
    border: 0 !important;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] > ul {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    position: absolute;
    top: 53px;
    left: -20px;
    width: max-content;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] > ul > * {
    grid-column: 1 / 1;
    grid-row: 1;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] > ul > .nav-drop-expanded {
    grid-column: 2 / -1;
    max-width: 365px;
    padding: 0;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] > ul > div {
    padding: 20px 30px;
    background-color: var(--overlay-background-color);
    font-family: var(--medium-font-family);
  }

  header nav .nav-sections > ul > li[aria-expanded=true] > ul > div li {
    padding: 10px 0;
    color: initial;
    transition: color .2s;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] > ul > div li:hover {
    color: var(--color-purple);
  }

  header nav .nav-sections .nav-drop > ul div > li:not(:last-of-type) {
    border-bottom: 0;
  }

  header nav .nav-sections > ul > li > ul > li {
    border-bottom: 0 !important;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: none;
  visibility: hidden;
  padding: 15px 0 5px;
}

header nav[aria-expanded=true] .nav-tools {
  display: flex;
  gap: 15px;
  visibility: visible;
}

header nav .nav-tools svg {
  width: 16px;
  height: 16px;
  fill: var(--color-gray-darker);
  transition: fill .2s;
}

header nav .nav-tools .icon:hover svg {
  fill: var(--color-purple);
}

header nav .nav-tools .icon-external {
  display: none;
  visibility: hidden;
}

@media (min-width: 600px) {
  header nav .nav-tools {
    padding: 15px 0;
  }
}

@media (min-width: 1000px) {
  header nav .nav-tools {
    flex-direction: row-reverse;
  }
}

/* list */
header nav .nav-list {
  grid-area: list;
  display: none;
  visibility: hidden;
  padding: 5px 0 10px;
}

header nav[aria-expanded=true] .nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  visibility: visible;
}

header nav .nav-list a {
  color: var(--color-gray-darker);
  font-size: var(--body-font-size-xxs);
  font-weight: 700;
  letter-spacing: .05em;
  text-transform: uppercase;
}

header nav .nav-list a:hover {
  background-size: 0;
  text-decoration: underline;
}

@media (min-width: 600px) {
  header nav .nav-list {
    padding: 10px 0;
  }
}

@media (min-width: 1000px) {
  header nav .nav-list a {
    font-size: var(--body-font-size-xs);
    color: var(--background-color);
  }
}
