/* below the fold CSS goes here */
@font-face {
  font-family: 'Monument Extended Bold';
  src: url('/fonts/MonumentExtended-Bold.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk Regular';
  src: url('/fonts/ABCMonumentGrotesk-Regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk Medium';
  src: url('/fonts/ABCMonumentGrotesk-Medium.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk Bold';
  src: url('/fonts/ABCMonumentGrotesk-Bold.woff2');
  font-display: swap;
}
