/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --color-orange: #EF6100;
  --color-blue-light: #BAD9EF;
  --color-blue: #2A72CB;
  --color-blue-dark: #010E42;
  --color-purple: #2127C3;
  --color-gray-light: #f3f3f3;
  --color-gray-light: #adadad;
  --color-gray-dark: #6E6E6E;
  --color-white: #fff;
  --color-black: #010E42;
  --link-color: var(--color-purple);
  --link-hover-color: var(--color-purple);
  --background-color: var(--color-white);
  --overlay-background-color: var(--color-gray-light);
  --highlight-background-color: var(--color-blue-light);
  --text-color: var(--color-black);

  /* fonts */
  --body-font-family: 'ABC Monument Grotesk Regular', 'Monument Grotesk Regular fallback', sans-serif;
  --medium-font-family: 'ABC Monument Grotesk Medium', 'Monument Grotesk Medium fallback', sans-serif;
  --bold-font-family: 'ABC Monument Grotesk Bold', 'Monument Grotesk Bold fallback', sans-serif;
  --heading-font-family: 'Monument Extended Bold', 'Monument Extended fallback', sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 11px;

  /* heading sizes */
  --heading-font-size-xxl: 36px;
  --heading-font-size-xl: 18px;
  --heading-font-size-l: 21px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 12px;

  /* nav height */
  --nav-height: 70px;
}

@media (min-width: 800px) {
  :root {
    --heading-font-size-xl: 24px; 
  }
}

/* font fallbacks */
@font-face {
  font-family: 'Monument Extended fallback';
  size-adjust: 169.841%;
  src: local('Arial');
}

@font-face {
  font-family: 'Monument Grotesk Regular fallback';
  size-adjust: 97.3%;
  src: local('Arial');
}

@font-face {
  font-family: 'Monument Grotesk Medium fallback';
  size-adjust: 98.97%;
  src: local('Arial');
}

/* @font-face {
  font-family: 'Monument Grotesk Bold fallback';
  size-adjust: 97.3%;
  src: local('Arial');
} */

/* minimal reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
}

body {
  display: none;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.625em;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--heading-font-family);
  font-weight: 500;
  line-height: 1.5rem;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  margin-top: 20px;
  font-size: var(--heading-font-size-xxl);
  line-height: 1.1em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: var(--heading-font-size-xl);
}

h3 {
  color: var(--color-purple);
  font-family: var(--bold-font-family);
  font-size: var(--heading-font-size-l);
}

h4 {
  color: var(--color-blue);
  font-family: var(--medium-font-family);
  font-size: var(--heading-font-size-m);
  font-weight: 400;
}

h5 {
  font-family: var(--medium-font-family);
  font-size: var(--heading-font-size-m);
  font-weight: 400;
}

h6 {
  font-size: var(--heading-font-size-m);
  line-height: 1.1em;
}

/* text */
p, dl, ol, ul, pre, blockquote {
  margin: 0 0 10px;
}

strong {
  font-family: var(--bold-font-family);
  font-weight: 500;
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* links */
a:any-link {
  background-image: linear-gradient(currentcolor, currentcolor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size .5s;
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  background-size: 100% 2px;
}

/* buttons */
a.button:any-link, button.button {
  display: inline-block;
  max-width: 100%;
  padding: 8px 20px;
  background-color: var(--link-color);
  background: linear-gradient(to left, var(--color-purple) 50%, var(--color-black) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position .6s ease;
  color: var(--background-color);
  font-family: var(--medium-font-family);
  font-size: var(--body-font-size-s);
  font-weight: 700;
  letter-spacing: .125px;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

a.button:hover, a.button:focus, button.button:hover, button.button:focus  {
  background-position: left;
}

button:disabled, button.button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, .button.button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

.button-container {
  margin-top: 30px;
}

/* form elements*/
main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 50px 20px 10px;
}

@media (min-width: 800px) {
  main .section {
    padding: 50px 20px;
  }  
}

@media (min-width: 1000px) {
  main .section {
    padding: 80px 20px;
  }  

  main .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}
